.main{
    background-color: aqua;
    display: flex;
    .posts{
        width: 400px;
        background-color: orange;
        margin: 10px;
        padding: 20px;
        .post{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            .boton{
                margin-top: 10px;
                width: 80px;
            }
        }
    }
}