* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
    column-gap: 10px;
    row-gap: 10px;
    justify-items:center;
    align-items: center;
    justify-content: space-evenly;
    background-color: blueviolet;
}

.hijo {
    background-color: aqua;
    text-align: center;
    border: 1px solid black
    ;
}

.hijo1 {
    /*justify (horizontal) / align (vertical) = start - end - center y strech
    a menos que quiera alinear verticalmente agregar height
    strech se estira horizontalmente
    start al inicio del contenedor
    end al final del contenido
    center en medio*/
    justify-self: start;
}