h1 {
    color: brown;
    text-align: center;
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
}

.div_h1 {
    background-color: aqua;
    width: 80%;
}

.tarjeta img {
    border-radius: 15px;
    
}